:root {
  --bg: rgb(101, 204, 184);
  --primary: rgb(18, 96, 88);
  --second: #57ba98;
  --third: rgb(242, 242, 242);
  --fourth: rgb(246, 247, 212);
}
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  outline: none;
  border: none;
  text-decoration: none;
}
html {
  scroll-behavior: smooth;
}

body {
  font-family: "Poppins", sans-serif;
  background-color: var(--bg);
  color: rgb(255, 255, 255);
}

link[rel="icon"] {
  border-radius: 100%;
}
.navbar1 {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 1.4rem 7%;
  background-color: rgba(18, 96, 88, 0.8);
  border-bottom: 1px solid rgba(18, 96, 88, 0.8);
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  z-index: 9999;
}

.navbar1 .navbar-logo1 {
  color: var(--third);
  font-size: 1.8rem;
  font-weight: 700;
}
.navbar1 .navbar-logo1 #span2 {
  border-bottom: 0.2rem solid var(--second);
  border-left: 0.2rem solid var(--second);
  border-top: 0.2rem solid var(--second);
}
.navbar1 .navbar-logo1 #span1 {
  color: var(--second);
  font-weight: 600;
  font-style: italic;
  border-bottom: 0.2rem solid var(--third);
  border-right: 0.2rem solid var(--third);
  border-top: 0.2rem solid var(--third);
}
.navbar1 .navbar-nav1 a {
  display: inline-block;
  color: var(--third);
  font-size: 1.1rem;
  margin: 0 1rem;
}
.navbar1 .navbar-nav1 a:hover {
  color: var(--second);
}
.navbar1 .navbar-nav1 a::after {
  content: "";
  display: block;
  padding-bottom: 0.5rem;
  border-bottom: 0.1rem solid var(--second);
  transform: scaleX(0);
  transition: 0.2s linear;
}
.navbar1 .navbar-nav1 a:hover::after {
  transform: scaleX(0.5);
}
.navbar1 .navbar-extra1 a {
  color: var(--third);
  padding: 0.5rem;
  margin: 0.2rem;
}
.navbar1 .navbar-extra1 a:hover {
  color: var(--second);
}
#hamburger-menu1 {
  display: none;
}
.chat {
  display: flex;
  justify-content: center;
  align-items: center;
  border: 0.2em solid var(--second);
  border-radius: 3rem;
  padding: 0.1rem 1.1rem;
}
.chat:hover {
  border: 0.2em solid var(--third);
}
/* hero section */
.hero1 {
  min-height: 100vh;
  display: flex;
  align-items: center;
  background-image: url("../images/Background61.png");
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  position: relative;
}

.hero1::after {
  content: "";
  display: block;
  height: 20%;
  width: 100%;
  bottom: 0;
  position: absolute;
  background: linear-gradient(
    0deg,
    rgb(101, 204, 183) 15%,
    rgba(214, 209, 209, 0) 60%
  );
}
.hero1 .content1 {
  padding: 1.4rem 7%;
  max-width: 60rem;
}

.hero1 .content1 h1 {
  color: var(--second);
  font-size: 4.5rem;
}
.hero1 .content1 h1 span {
  font-style: italic;
  font-size: 4.5rem;
  background-image: url(../images/bg-2.jpg);
  background-size: cover;
  background-clip: text;
  -webkit-background-clip: text;
  color: transparent;
}
.hero1 .content1 p {
  color: var(--primary);
  font-size: 1.5rem;
  margin-top: 1rem;
  line-height: 1.3;
  font-weight: 400;
  text-shadow: 1px 1px 3px rgba(0, 0, 0, 0.5);
}
.hero1 .content1 .go {
  margin: 1rem;
  display: inline-block;
  padding: 1rem 3rem;
  background-color: var(--second);
  font-size: 1.4rem;
  color: #fff;
  font-weight: bolder;
  border-radius: 0.5rem;
  box-shadow: 1px 1px 3px rgba(0, 0, 0, 0.5);
}
/* About section */
.about1,
.Menu,
.music,
.contact {
  padding: 7rem 7% 1.4rem;
}
.about1 h2,
.Menu h2,
.music h2,
.contact h2 {
  font-size: 2.5rem;
  color: var(--third);
  text-align: center;
  margin-bottom: 2rem;
}
.about1 h2 span,
.Menu h2 span,
.music h2 span,
.contact h2 span {
  color: var(--primary);
}
.about1 .row1 {
  display: flex;
}
.about1 .row1 .about-img1 {
  flex: 1 1 30rem;
}
.about1 .row1 .about-img1 img {
  width: 75%;
  border-radius: 100%;
  filter: drop-shadow(20px 25px 25px #000000);
}
.about1 .row1 .content1 {
  flex: 1 1 35rem;
  padding: 0 1rem;
}
.about1 .row1 .content1 h3 {
  font-size: 1.8rem;
  margin-bottom: 1rem;
}
.about1 .row1 .content1 p {
  margin-bottom: 1rem;
  font-size: 1.4rem;
  font-weight: 400;
  line-height: 1.6;
  text-align: justify;
}

/* 
---------------------------------------------
Services Style
--------------------------------------------- 
*/
.Menu {
  padding: 9rem 7% 1.4rem;
}

.services .naccs {
  position: relative;
  z-index: 1;
}

.services .icon {
  display: block;
  text-align: center;
  margin: 0;
}

.services .naccs .menu div h4 {
  color: #fff;
  font-size: 15px;
  font-weight: 400;
  width: 100%;
}

.services .icon img {
  max-width: 60px;
  min-width: 60px;
}

.services .naccs .menu {
  text-align: center;
  margin-bottom: 30px;
}

.services .naccs .menu div {
  color: #2a2a2a;
  margin: 0px;
  width: 15%;
  font-size: 20px;
  font-weight: 700;
  display: inline-block;
  text-align: center;
  cursor: pointer;
  position: relative;
  border-radius: 15px;
  transition: 1s all cubic-bezier(0.075, 0.82, 0.165, 1);
}

.services .naccs .menu div .thumb {
  display: inline-block;
  width: 100%;
  padding: 30px 0px;
  background-color: #fff;
}

.services .naccs .menu div.active {
  box-shadow: 0px 0px 15px rgba(0, 0, 0, 0.1);
}

.services ul.nacc {
  height: 100% !important;
  position: relative;
  min-height: 100%;
  list-style: none;
  margin: 0;
  padding: 0;
  transition: 0.5s all cubic-bezier(0.075, 0.82, 0.165, 1);
}

.services ul.nacc li {
  opacity: 0;
  transform: translateX(-50px);
  position: absolute;
  list-style: none;
  transition: 1s all cubic-bezier(0.075, 0.82, 0.165, 1);
}

.services ul.nacc li.active {
  transition-delay: 0.3s;
  position: relative;
  z-index: 2;
  opacity: 1;
  transform: translateX(0px);
  box-shadow: 0px 0px 15px rgba(0, 0, 0, 0.1);
  background-color: #fff;
  border-radius: 15px;
  padding: 80px 120px 50px 120px;
}

.services ul.nacc li {
  width: 100%;
}

.services ul.nacc li .right-image img {
  max-width: 420px;
  float: right;
}

.services .nacc .thumb h4 {
  color: #2a2a2a;
  font-size: 20px;
  font-weight: 700;
  line-height: 35px;
  margin-bottom: 25px;
}

.services .nacc .thumb .main-white-button {
  text-align: right;
  margin-top: 40px;
}

.services .nacc .thumb .main-white-button a {
  background-color: #8d99af;
  color: #fff;
}

.services .nacc .thumb .main-white-button a i {
  background-color: #fff;
  color: #8d99af;
}

.services .left-text h4 {
  font-size: 20px;
  font-weight: 700;
  color: #4da6e7 !important;
}

.services .left-text p {
  margin-bottom: 30px;
  color: var(--second);
}

.nacc .ticks-list span {
  display: inline-block;
  opacity: 1;
  margin-right: 45px;
  margin-bottom: 20px;
  font-size: 15px;
  font-weight: 400;
}

/* info */
.info {
  padding: 7rem 1% 4rem;
}
.info .swiper-button-prev21:hover {
  color: var(--third);
}

/* contact */
.contact .container1 {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  margin-top: 5rem;
}
.contact .container {
  display: flex;
  justify-content: center;
  margin-top: 2rem;
}
.contact .container .row,
.container1 .row {
  text-align: center;
  width: 30%;
  margin-bottom: 2rem;
}
.contact .container .row img,
.container1 .row img {
  border-radius: 100%;
  width: 50%;
  cursor: pointer;
}
.contact .container .row img {
  border-radius: 100%;
  width: 50%;
  height: 85%;
  cursor: pointer;
}
/* Style for social icons container */
.social-icons {
  position: absolute;
  display: flex;
  align-items: center;
  flex-direction: column;
  justify-content: space-around;
  background-color: white;
  padding: 5px;
  border-radius: 5px;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.2);
  z-index: 10;
  opacity: 0;
  pointer-events: none;
  transition: opacity 0.7s ease-in-out;
}

/* Style for social icons */
.social-icons a {
  text-decoration: none;
  color: #333;
  font-size: 20px;
  margin: 0.4rem;
  transition: color 0.2s;
}

.social-icons a:hover {
  color: #1877f2;
}
.social-icons a i:hover {
  filter: drop-shadow(0 0 10px rgba(2, 2, 255, 0.7))
    drop-shadow(0 0 20px rgba(2, 2, 255, 0.5))
    drop-shadow(0 0 30px rgba(2, 2, 255, 0.5));
  transition: filter 0.3s ease-in-out;
}
/* Show social icons container when active class is added */
.social-icons.active {
  opacity: 1;
  pointer-events: auto;
}

/* Footer */
footer {
  background-color: var(--primary);
  text-align: center;
  padding: 1rem 0 3rem;
  margin-top: 2rem;
}
footer .sosial {
  padding: 0.5rem 0;
}
footer .sosial a {
  margin: 1rem;
  color: var(--third);
}
footer .sosial a:hover {
  color: var(--bg);
}
footer .links a:hover {
  color: var(--bg);
}
footer .links {
  margin-bottom: 1.4rem;
}
footer .links a {
  color: var(--third);
  padding: 0.7rem 1rem;
}
footer .credit {
  font-size: 1rem;
}
footer .credit a {
  color: var(--bg);
  font-weight: 700;
}

/* laptop */
@media (max-width: 1366px) {
  html {
    font-size: 75%;
  }
}

/* tablet */
@media (max-width: 768px) {
  html {
    font-size: 65.5%;
  }
  #hamburger-menu1 {
    display: inline-block;
  }
  .navbar1 .navbar-nav1 {
    position: absolute;
    top: 100%;
    right: -100%;
    background-color: var(--third);
    width: 30rem;
    height: 100vh;
  }
  .navbar1 .navbar-nav1.active {
    right: 0%;
    transition: 0.3s;
  }
  .navbar1 .navbar-nav1 a {
    display: block;
    color: var(--primary);
    font-size: 2rem;
    left: 0%;
    margin: 1.5rem;
  }
  .navbar1 .navbar-extra1 {
    width: 10rem;
    display: flex;
    align-items: center;
  }
  .navbar1 .navbar-nav1 a::after {
    transform-origin: 0 0;
  }
  .navbar1 .navbar-nav1 a:hover::after {
    transform: scaleX(0.2);
    border-bottom: solid 0.3rem;
  }
  .about1 .row1 {
    flex-wrap: wrap;
  }

  .about1 .row1 .about-img1 img {
    width: 20rem;
    height: 20rem;
  }

  .about1 .row1 .about-img1 {
    padding-bottom: 5rem;
    display: flex;
    justify-content: center;
  }

  .services .naccs .menu {
    display: flex;
    justify-content: space-around;
    padding: 0;
  }
  .services .naccs .menu div .thumb {
    display: inline-block;
    width: 7rem;
    padding: 0px 0px 0px 0px;
  }

  .services .naccs .menu div {
    font-size: 0.8rem;
    font-weight: 700;
  }

  .service-item {
    text-align: center;
  }
  .service-item .icon {
    margin-top: 0px;
    margin-bottom: 0px;
  }
  .services .icon img {
    max-width: 40px;
    min-width: 40px;
  }
  .services .left-text {
    display: inline-block;
    width: 20rem;
  }
  .services ul.nacc li.active {
    transition-delay: 0.3s;
    position: relative;
    border-radius: 15px;

    display: flex;
    justify-content: center;
    align-items: center;
  }
  .contact .container .row img,
  .container1 .row img {
    width: 7rem;
    height: 7rem;
  }
  .services .naccs .menu div .thumb {
    width: 6rem;
  }
}
/* mobile phone */
@media (max-width: 450px) {
  html {
    font-size: 55%;
  }
  .service-item .icon img {
    max-width: 50%;
  }
}
